:root{
    --teal:#2ec9b2;
    --teal_hover: #238173;
}

*{ 
    font-family: 'Poppins', sans-serif;
}

.h-font{
font-family: 'Merienda', cursive;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

.custom-bg{
background-color: var(--teal)  ;
border: 1px var(--teal);
}
.custom-bg:hover{
background-color:var(--teal_hover);
border-bottom: var(--teal_hover);
}
.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}
.custom-alert{
    position:fixed;
    top: 80px;
    right: 25px;
}